__pycache__
settings.json
*.cpython
*.npy
*.msh
BVHtree/.CondaPkg/
Manifest.toml
data/
analysis.py
*.npz
test.py
dicoupler_neff
meshtest.py
run_prop*
test*.py
cbeam-checkpoint*
dicoupler_neff.py
general_transform.py
